@model PagedList.IPagedList<websitebanhang.Context.tb_Product>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Avatar
        </th>
        <th>
            Mã danh mục
        </th>
        <th>
            Mô tả ngắn
        </th>
        <th>
            Mô tả đầy đủ
        </th>
        <th>
            Giá
        </th>
        <th>
            Giá khuyến mãi
        </th>
        <th>
            Loại sản phẩm
        </th>
        <th>
            Slug
        </th>
        <th>
            Mã nhãn hiệu
        </th>
        <th>
            Đã xoá
        </th>
        <th>
            Hiển thị trang chủ
        </th>
        <th>
            Thứ tự hiển thị
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowOnHomePage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateOnUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
</div>

<!-- Thêm tài liệu CKEditor vào trang -->
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

<!-- Khởi tạo CKEditor cho việc tải lên hình ảnh -->
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            editor.ui.view.editable.extendTemplate({
                attributes: {
                    class: 'custom-ck-editor'
                }
            });

            editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                return new MyUploadAdapter(loader);
            };
        })
        .catch(error => {
            console.error(error);
        });
</script>